{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container-fluid mt-5">
    <h4><strong>Homepage:</strong></h4>
        <p>The homepage welcomes users with a visually appealing design,
            showcasing featured products and promotions. It offers a user-friendly
            search bar and navigation menu for easy access to various product categories.</p>
    <h4><strong>Product Listings:</strong></h4>
        <p>Ekart provides a vast array of products, organized into categories such as
            electronics, fashion, home and living, beauty, and more. Users can filter and sort
            products to find what they need quickly.</p>
    <h4><storng>Product Details: </storng></h4>
        <p> When users click on a product, they are directed to a detailed product page.
            Here, they can view product images, read descriptions, check prices, and read customer reviews.</p>
    <h4><strong>Cart:</strong></h4>
        <p>Ekart offers a virtual shopping cart where users can add products they wish to purchase.
            They can review their selections, update quantities, and proceed to checkout.</p>
</div>
{% endblock 'main' %}