{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome to Home Page</h1>
        <h4>Welcome Message:{{msg}}</h4>
        <hr>
        <h4>Decision Control Instruction</h4>
        {% if x > y%}
            <h6>In if Block</h6>
            {{x}} is greater
        {% else %}
            <h6>In else Block</h6>
            {{y}} is greater
        {% endif %}
        <hr>
        {{data}}
        <h4>Loop Control Decision</h4>
        {% for x in data %}
            {{x}}
        {% endfor%}

        <button onclick="hello()">Click Me</button>
        <script src="{% static 'js/main.js' %}"></script>


    </body>
</html>