{% load static %}
<!--Footer start-->
<div class="row mt-5">

    <div class="col-md-4">
        <h5>Address</h5>
        <hr>
        <p>Ekart Pvt Ltd.</p>
        <p>
            Ishaan Archade 1, <br>
            2nd Floor, <br>
            Thane,West
        </p>
        <p><i class="bi bi-envelope-at"> :ekart@gmail.com</i></p>
        <p><i class="bi bi-telephone-fill"> :+919292929292</i></p>
    </div>
    <div class="col-md-4">
        <h5>Quick Links</h5>
        <hr>
        <ul type="none">
            <li><a href="/" class="anchor">Home</a></li>
            <li><a href="/about" class="anchor">About</a></li>
            <li><a href="/cart" class="anchor">Cart</a></li>
            <li><a href="/contact" class="anchor">Contact</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h6>Connect Us</h6>
        <hr>
        <a href="http://www.facebook.com/"></a><i
            class="bi bi-facebook"></i> <br>
        <a href="http://www.instagram.com/"></a><i
            class="bi bi-instagram"></i> <br>
        <a href="http://www.twitter.com/"></a><i
            class="bi bi-twitter-x"></i> <br>
        <a href="http://www.linkedin.com/"></a><i
            class="bi bi-linkedin"></i> <br>
    </div>
</div>

</div>

<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>